body,h1,div,ul,li,header,nav,footer{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
}
body{
	background-color:#222222;
	font-size:18px;
	color:#ddd;
	font-family:sans-serif;
	line-height:28px;
	font-weight:300;

}
h1{
	color:#fff;
	font-size:75px;
	margin-top:200px;
}
header{
	margin-top:25px;
	padding-top:100px;
}
.container{
	margin:auto;
	width:80%;
}
.container ul{
	text-align:center;
}
.container ul li{
	list-style-type:none;
	display:inline-block;
	font-size:24px;
	text-align:center;
}
.container ul li a{
	display:inline-block;
	margin-left:10px;
	margin-right:10px;
	color:#999999;
	font-size:20px;
	padding:20px 0 10px 0;
	transition:0.5s;
}
.container ul li a:hover{
	color:#fff;
	border-bottom:#fff 2px solid;
}
.container ul .nav-active a{
	color:#ffffff;
	border-bottom:#999 2px solid;
}
.animate_box{
	opacity:0;
}
.header_content{
	background-image:url("sources/pic/head_background.jpg");
	background-repeat:no-repeat;	
	background-attachment:fixed;
	height:900px;
	opacity:0.8;
}
.head_content{
	
}
.first_head{
	margin-left:100px;
	text-align:left;
	color:#aaa;
	font-family:Arial;
}
.second_head{
	margin-right:100px;
	text-align:right;
	color:#aaa;
	
}
h1 span{
	font-style:oblique;
	font-weight:100;
	transition:1s;
	color:#fff;
	text-shadow:0 0 10px #fff;
}
h1 span:hover{
	font-size:90px;
	color:#fff;
}
.learn_more{
	left:50%;
	margin-top:168px;
	z-index:12;
	text-align:center;
}
.scroll_btn{
	display:block;
	background-color:transparent;
}
.text{
	display:block;
	margin-bottom:30px;
	color:#999;
	font-size:24px;
}
.arrow{
	display:block;
	width:65px;
	height:65;
	margin:0 auto;
	background-color:#8dc63f;
	border-radius:50%;
}
.chevron_down{
	font-family:icomoon;
}
.arrow i{
	position:relative;
	top:20px;
	color:#fff;
	vertical-align:middle;
}
.pic_show{
	text-align:center;
	margin:0 auto;
	background-color:#eee;
}
.pic_show:after{
	display:block;
	clear:both;
	content:"";
	visibility:hidden;
	height:0;
	width:0;
}
.row{
	display:inline-block;
	overflow:hidden;
	width:26%;
	height:300px;
	margin:2%;
	border-radius:8px;
	transition:1s;
	box-shadow:8px 8px 5px #222;
}
.img_show{
	width:100%;
	height:100%;
	transition:5s;
}
.img_show:hover{
	width:120%;
	height:120%;
}
.synopsis_container{
}
.synopsis_detail{
	width:85%;
	margin:100px auto;
	height:400px;
}
.synopsis_detail:after{
	display:block;
	clear:both;
	content:"";
	visibility:hidden;
	height:0;
	width:0;
}
.synopsis_pic1{
	overflow:hidden;
	height:100%;
	width:45%;
	float:left;
	border-radius:10px;
}
.synopsis_pic2{
	overflow:hidden;
	height:100%;
	width:45%;
	float:right;
	border-radius:10px;
}
.synopsis_pic1 img,.synopsis_pic2 img{
	height:100%;
	width:100%;
}
.synopsis_content1{
	width:35%;
	margin-left:10%;
	float:left;
}
.synopsis_content2{
	width:35%;
	float:right;
	margin-right:10%;
}
.synopsis_container  h2{
	font-size:50px;
	margin-top:120px;
	margin-left:7.5%;
}
.synposis_text{
	font-size:24px;
}
.pic_show h2{
	padding-top:75px;
	font-size:50px;
	text-align:left;
	margin-left:6.5%;
	color:#222;
	text-shadow:8px 8px 5px #666;
}
footer{
	height:200px;
}
.footer_container p{
	text-align:center;
	font-size:20px;
	font-family:Roboto,Arial,sans-serif;
}
.footer_container ul{
	text-align:center;
}
.footer_container li{
  padding: 0;
  margin: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.footer_container li a{
  padding: 10px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.3);
  border-bottom: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.footer_container li a:hover {
  color: rgba(255, 255, 255, 0.7);
}